body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('images/background.jpg');
    background-size: cover;
}

/* Navigation Bar */
#home {
    background-color:  #303060;
    padding-top: 0.5cm;
    overflow-x: auto;
}

.Logo {
    float: left;
    padding-left: 1cm;
    padding-right: 1cm;
    color: #FFFFE0;
    font-size: 32px;
    font-style: italic;
    white-space: nowrap;
    vertical-align: middle;
    padding-top: 0cm;
    padding-bottom: 0cm;
    height: 60px;
}

.LogoImage {
    height: 32px;
    width: 32px;
}

.TopDiv {
    float: left;
    padding-left: 2cm;
    padding-right: 0;
    white-space: nowrap;
    text-align: center;
    height: 48px;
}

.TopMenu {
    color: lightgray;
    float: left;
    margin: 10px;
    padding: 10px;
    padding-top: 0cm;
    font-size: 20px;
    text-decoration:underline;
    vertical-align: middle;
}

.TopMenu:hover {
    color: white;
}

.SearchBar {
    float: right;
    padding-top: 8px;
    padding-right: 0.5cm;
    padding-left: 0;
    color: #FFFFE0;
    font-size: 20px;
}

.SearchForm {
    padding-top: 0px;
    padding-bottom: 6px;
    //padding-left: 0.5cm;
    padding-right: 0.5cm;
    border-color: #FF0000;
    border-width: 2px;
    border-radius: 15px;
}

/* Title page content */
.PageIcons {
    float: left;
    white-space: nowrap;
    width: 64;
    padding-top: 3cm;
    border-width: 0;
}

.PageIcon {
    height: 48px;
    height: 48px;
}

.PageMessageArea {
    //float: left;
    //white-space: nowrap;
}

.PageCaption {
    font-size: 50px;
    font-weight: bold;
    font-stretch: expanded;
    color: white;
    padding-top: 1cm;
    padding-left: 4cm;
    padding-bottom: 1cm;
    text-transform: uppercase;
}

.PageMessage {
    font-size: 16px;
    color: white;
    padding-left: 4cm;
    padding-bottom: 1cm;
}

.PageButtons {
    font-size: 20px;
    color: white;
    padding-left: 4cm;
}

.PageButton {
    background-color:  #00C000;
    border-color: #FF00FF;
    border-width: 2px;
    border-radius: 15px;
}

.TeamMembers {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    padding-left: 4cm;
}

.TeamMembersCaption {
    font-size: 40px;
    font-weight: bold;
    font-stretch: expanded;
    color: white;
    padding-top: 1cm;
    padding-right: 1cm;
    padding-bottom: 1cm;
    text-transform: uppercase;
    white-space: nowrap;
}

.TeamMemberTiles {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    //padding-left: 4cm;
}

.TeamMemberTile {
    //border: 1px solid white;
    display: block;
    //border-radius: 6px;
    text-align: center;
    padding: 10px;
    width: 2in;
    font-size: 20px;
    color: white;
}

.TeamMemberImage {
    height: 32px;
    width: 32px;
    float: left;
    white-space: nowrap;
    padding-right: 8px;
}

.TeamMemberName {
    text-align: left;
    font-size: 20px;
    color: white;
    white-space: nowrap;
    padding-top: 0.2cm;
}

.TeamMemberSummary {
    text-align: left;
    font-size: 12px;
    color: #C0C0C0;
    padding-left: 40px;
}

.TeamMemberLink {
    text-align: center;
    font-size: 16px;
    color: white;
    background-color:  #000080;
    margin-top: 8px;
    margin-left: 40px;
    border-color: #808080;
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    padding: 4px;
}

.TeamMemberLink:hover {
    color: red;
    cursor: pointer;
}

/* Contact us page */
.SubmitButton {
    width: 100%;
    margin-top: 32px;
    background-color: #008080;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.SubmitButton:hover {
    color: yellow;
    cursor: pointer;
}

.SubmitButton:disabled {
    color: gray;
    cursor: pointer;
}
